body {
    background: #eee;
    text-align: center;
    font-family: 'Bitter', serif;
    /*font-family: 'Open Sans', sans-serif, arial;*/
}

a {
    color: white;
    text-decoration: none;
}

#main {
    width: 100%;
    margin: auto;
    text-align: left;
    background: white;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

.chatterbox-title {
    font-size: 35px;
    padding: 20px;
    margin: 0;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding: 0;
    margin: 0;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

.topbar {
    background-color: #333333;
    margin: 0;
    color: white;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

ul {
    list-style-type: none;
}

.chat {
    background-color: #eee;
    height: 820px;
    overflow: auto;
}

.chat .username {
    font-weight: 800;
}

.chat li {
    border-bottom: 2px solid white;
    padding: 12px;
}

.chat li:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.sidebar {
    float: left;
    height: 857px;
    width: 160px;
    background-color: #333333;
    color: white;
}

.sidebar li {
    padding: 5px 12px;
    word-wrap: break-word;
}

.sidebar li:hover {
    cursor: pointer;
    background-color: slategrey;
}

.messagewrapper {

}

input.messagetext {
    width: 85%;
    height: 34px;
    border: 0;
    display: inline;
    font-size: 15px;
    padding-left: 10px;
}

.sendmessage {
    color: white;
    vertical-align: middle;
    margin-top:10px;
    font-size: 20px;
    padding: 4px 30px;
    width: 150px;
    height: 47px;
    background-color: #333333;
    border: 2px #333333 solid;
    text-align: center;
    display: inline;
    font-weight: 700;
    margin-left: -5px;
}

.sendmessage:hover {
    cursor: pointer;
    background-color: slategrey;
}

.sendmessage:active {
    cursor: pointer;
    background-color: black;
}

.new-room-text-button {
    color: #333333;
    vertical-align: middle;
    font-size: 15px;
    padding: 3px 25px;
    background-color: white;
    max-width: 85%;
    text-align: center;
    font-weight: 700;
}

.new-room-text-button:hover {
    cursor: pointer;
}

.new-room-text {
    width: 96%;
    border: 0;
    display: inline;
    font-size: 15px;
    padding: 3px;
}

.friends-bold {
    font-weight: bold;
}

.friends {
    font-family: 'Bitter', serif;
    cursor: pointer;
}
