body {
    background: #eee;
    text-align: center;
    font-family: 'Open Sans', sans-serif, arial;
}

#main {
    width: 100%;
    margin: auto;
    text-align: left;
    background: white;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    font-size: 35px;
    padding: 20px;
    margin: 0;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding: 0;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

.topbar {
    background-color: #333333;
    margin: 0;
    color: white;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

ul {
    list-style-type: none;
}

.chat {
    background-color: #eee;
    height: 820px;
    overflow: auto;
}

.chat .username {
    font-weight: 800;
}

.chat li {
    border-bottom: 2px solid white;
    padding: 12px;
}

.chat li:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.sidebar {
    float: left;
    height: 857px;
    width: 140px;
    background-color: #333333;
    color: white;
}

.sidebar li {
    padding-left: 12px;
    padding-bottom: 5px;
}

.sidebar li:hover {
    cursor: pointer;
}

.messagewrapper {

}

input.messagetext {
    width: 85.25%;
    height: 31px;
    display: inline;
    font-size: 15px;
    padding-left: 10px;
}

.sendmessage {
    color: white    ;
    vertical-align: middle;
    margin-top:10px;
    font-size: 20px;
    padding: 4px 30px;
    width: 150px;
    height: 47px;
    background-color: #333333;
    border: 2px black solid;
    text-align: center;
    display: inline;
    font-weight: 700;
    margin-left: -5px;
}

.sendmessage:hover {
    cursor: pointer;
    background-color: slategrey;
}

.sendmessage:active {
    cursor: pointer;
    background-color: black;
}
